@page
@model AboutModel
@{
    ViewData["Title"] = "Об AMWE";
}
<h3>@ViewData["Title"]</h3>

<div class="About">
    <p>Assistant in Monitoring the Work of Employees (AMWE) - проект, созданный для помощи в мониторинге сотрудников, работающих в дистанционном и офисном формате. Был разработан в связи пандемией <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">COVID-19</a>.</p>
    <h4>Возможности проекта</h4>
    <ul>
        <li>Автоматизация: Следите за поступающими отчетами со всех пользовательских компьютеров в сети</li>
        <li>Сводки: Следите за динамикой работы каждого сотрудника в сети</li>
        <li>Аналитика: Автоматическая обработка информации в отчетах при помощи нейросети, настроенной под Ваши требования</li>
        <li>Скорость: Передача всех данных в реальном времени</li>
        <li>Оценка: Собственные критерии оценивания для упрощения мониторинга работы сотрудников</li>
        <li>Скриншоты: Возможность получения скриншотов для самостоятельного анализа каждого отдельного компьютера</li>
        <li>Гибкость: Настраиваемые списки запрещенных программ и сайтов для программной обработки</li>
        <li>Упрощенный дизайн: В нем нет ничего лишнего. Всё для быстрой и удобной работы</li>
        <li>Производительность: Программа <a asp-page="download">не требовательна к железу</a></li>
        <li>Непрерывность: Приложение на стороне сотрудника работает абсолютно в фоновом режиме</li>
        <li>Безопасность: Система аутентификации, логгирование действий для администратора</li>
    </ul>
</div>
<div class="TeamRespect">
    <h4>Участники проекта</h4>
    <p>Команда разработки (<a asp-page="contact">Связь</a>):</p>
    <ul>
        <li>Zerumi (Afanasyev Kirill) - написание AMWE Administrator, а также AMWE RealTime Server</li>
        <li>PizhikCoder (Pavel Malkov) - написание AMWE Client, а также разработка нейронной сети</li>
    </ul>
    <p>Команда поддержки (<a asp-page="contact">Связь</a>):</p>
    <ul>
        <li>Roman Groshev - маркетинговый анализ, связь с компаниями</li>
    </ul>
    <p>Команда тестирования:</p>
    <ul>
        <li>Nyzhenets</li>
        <li>Morject</li>
        <li>rudya</li>
    </ul>
    <p>Благодарности:
        <ul>
            <li>Конференция Start To Innovate за возможность рассказать о данном проекте</li>
        </ul>
    </p>
</div>