@page
@model ContactModel
@{
    ViewData["Title"] = "Связь";
}
<h3>@ViewData["Title"]</h3>

<address>
    Zerumi: <br />
    <strong>Github</strong>: <a href="https://github.com/Zerumi">https://github.com/Zerumi</a><br />
    <strong>Telegram</strong>: <a href="https://t.me/zerumi">https://t.me/zerumi</a><br />
    <strong>VK</strong>: <a href="https://vk.com/zerumi">https://vk.com/zerumi</a><br />
    <strong>Discord</strong>: Zerumi#4666<br />
    <strong>Email:</strong> <a href="mailto:afanasyev09032005@gmail.com">afanasyev09032005@gmail.com</a>
</address>

<address>
    PizhikCoder: <br />
    <strong>Github</strong>: <a href="https://github.com/Zerumi">https://github.com/PizhikCoder</a><br />
    <strong>Email:</strong> <a href="mailto:pashamalkovich@mail.ru">pashamalkovich@mail.ru</a>
</address>
