@page
@model DownloadModel
@{
    ViewData["Title"] = "Загрузить AMWE";
}

<h3>@ViewData["Title"]</h3>

<main>
    <br/>
    <a href="https://github.com/Zerumi/AMWE-Server/releases/download/v.1.2.2021.2402/Release.zip">Скачать AMWE Administrator v.1.2</a>

</main>