@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<h3>@Model.Message</h3>

<main>
    <h5><br/>Для просмотра информации о загрузке и установке, <a href="">посетите страницу загрузки</a></h5>
</main>