@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<body>
    <p>
        <h3>@Model.Message</h3>
    </p>
    <div class="DownloadLink">
        <p><h5>Для просмотра информации о загрузке и установке, <a asp-page="Download">посетите страницу загрузки</a></h5></p>
    </div>
</body>