@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика Конфиденциальности";
}
<h2>@ViewData["Title"]</h2>

<p>Мы используем файлы cookie для AMWE и AMWE Server для авторизации на сервере. Пользуясь сайтом, вы соглашаетесь с этим.</p>