@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика Конфиденциальности";
}
<h2>@ViewData["Title"]</h2>

<p>Мы используем файлы cookie для AMWE (<a asp-page="/Index">http://amwe.glitch.me/</a>) и AMWE Server (<a href="http://amwe-server.glitch.me/">http://amwe-server.glitch.me/</a>) только для авторизации на сервере.<br /> Под этим подразумевается авторизация компьютеров, использующих ПО AMWE во внутренней сети под именем ПК (или для администраторов любое выбранное ими имя). <strong>Мы анализируем только те файлы cookie, которые принадлежат нашему сайту.</strong> Мы не собираем и уж тем более не распростроняем никакую личную информацию о пользователях AMWE. Пользуясь сайтом, вы соглашаетесь с этим.</p>
<p>Обновлено: 24/04/2021</p>